apiVersion: v1
kind: Namespace
metadata:
  name: gce-pd-csi-driver
  labels:
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/warn: privileged
