apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: csi-gce-pd-node
  namespace: kube-system
spec:
  template:
    spec:
      nodeSelector:
        node.kubernetes.io/location: cloud
      tolerations:
        - key: node.kubernetes.io/location
          operator: Equal
          value: cloud
          effect: NoSchedule
