apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: pd-standard
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
provisioner: pd.csi.storage.gke.io
parameters:
  type: pd-standard
volumeBindingMode: WaitForFirstConsumer
allowedTopologies:
  - matchLabelExpressions:
      - key: topology.gke.io/zone
        values:
          - europe-central2-a
reclaimPolicy: Delete
