ingress-nginx:
  controller:
    service:
      loadBalancerClass: tailscale
    nodeSelector:
      node.kubernetes.io/location: cloud
    tolerations:
      - key: node.kubernetes.io/location
        operator: Equal
        value: cloud
        effect: NoSchedule
