minio:
  mode: standalone

  auth:
    rootUser: osm-admin

  nodeSelector:
    node.kubernetes.io/location: cloud
  tolerations:
    - key: node.kubernetes.io/location
      operator: Equal
      value: cloud
      effect: NoSchedule

  ingress:
    enabled: false

  apiIngress:
    enabled: false

  extraDeploy:
    - apiVersion: networking.k8s.io/v1
      kind: Ingress
      metadata:
        name: minio-console
        namespace: minio
        annotations:
          tailscale.com/proxy-class: default-proxy-class
      spec:
        ingressClassName: tailscale
        tls:
          - hosts:
              - setup02-minio.tailac05db.ts.net
        rules:
          - host: setup02-minio.tailac05db.ts.net
            http:
              paths:
                - path: /
                  pathType: Prefix
                  backend:
                    service:
                      name: minio-console
                      port:
                        number: 9090
    - apiVersion: networking.k8s.io/v1
      kind: Ingress
      metadata:
        name: minio-api
        namespace: minio
        annotations:
          tailscale.com/proxy-class: default-proxy-class
      spec:
        ingressClassName: tailscale
        tls:
          - hosts:
              - setup02-minio-api.tailac05db.ts.net
        rules:
          - host: setup02-minio-api.tailac05db.ts.net
            http:
              paths:
                - path: /
                  pathType: Prefix
                  backend:
                    service:
                      name: minio
                      port:
                        number: 9000

  console:
    nodeSelector:
      node.kubernetes.io/location: cloud
    tolerations:
      - key: node.kubernetes.io/location
        operator: Equal
        value: cloud
        effect: NoSchedule

  persistence:
    storageClass: pd-standard
    size: 20Gi
