#cloud-config
ssh_pwauth: false

users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH3Q9y768cb/EqVlscWpuEUCm3zj9Azjcq0yIqcAqjTV osm-admin@retelith.com

packages:
  - openssh-server

runcmd:
  - systemctl enable ssh
  - systemctl start ssh
